<div class="nested-fields field">
    <div>タグ</div>
    <p>必ず１つ以上選択してください。</p>
    <div class="col-md-6">
        <label class="control-label">タグ名</label>
            <%= f.collection_select :tag_id, Tag.all, :id, :tag_name %>
    </div>
    <%= link_to_remove_association '削除', f, class: 'btn btn-danger' %>
</div>