<div class="container">
  <div class="text-center">
    <h1 class="m-5 font-weight-bold">PLANTS QUESTへようこそ！</h1>
    <div class="m-5">
      <h4 class=" font-weight-bold">
        みなさんは植物を育てていますか？</br>
        植物を育てていて、悩んだり疑問に思ったりしたことはありませんか？</br>
        PLANTS QUESTではそんなみなさんの植物への些細な疑問やお悩みを</br>
        みんなで相談して解決していくことを目的としたコミュニティサイトです。</br>
        現在植物を育てている方、まだ育てていないけど興味がある方、</br>
        とにかく楽しみたい方、誰でも大歓迎です。
      </h4>
      <p>バックの写真はUnsplashのChris Leeが撮影した写真です。</p>
    </div>
  </div>
</div>